#!/bin/bash
sed -i 's@ExecStart=/usr/bin/wwctl server start@ExecStart=/usr/bin/wwctl server start -d -v@' /usr/lib/systemd/system/warewulfd.service
sed -i 's@/var/run/warewulfd.pid@/run/warewulfd.pid@' /usr/lib/systemd/system/warewulfd.service
systemctl daemon-reload
systemctl enable --now warewulfd
dnf remove *unbound* -y
wwctl configure --all
wwctl container import docker://registry.gitlab.com/notjustanyjoe/warewulf-ubi:latest rocky-8
wwctl container syncuser --write rocky-8 --build
wwctl profile set --yes --container rocky-8 "default"
wwctl profile set --yes --netdev eth1 --netmask 255.255.255.0 --gateway 192.168.200.254 "default"

wwctl node add r1n101 -I 192.168.200.101 --discoverable true
wwctl node add r1n102 -I 192.168.200.102 --discoverable true
wwctl overlay build